$primary-color: #333;

%a-style {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem 0.8rem 0.5rem;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 8rem;
  position: sticky;
  top: 0;

  @media (max-width: 780px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    width: 2.25rem;
    height: 2rem;
    color: white;
    display: none;

    @media (max-width: 780px) {
      display: block;
    }
  }

  .logo {
    margin-left: 3rem;
    font-weight: bold;
    text-align: start;
    a {
      @extend %a-style;
    }
    @media (max-width: 780px) {
    align-self: flex-start;
    margin: 1.5rem; 
    }
  }
  
  ul {
    display: flex;
    margin-right: 3rem;
    
    @media (max-width: 780px) {
      display: none; 
      flex-direction: column;
      width: 100%;
      margin-right: 0; 
      padding-left: 0;
      
      &.open {
        display: flex; 
        background-color: rgba(0, 0, 0, 0.9);

        height: 100vh;
      }
    }

    a{
      @extend %a-style;
  
      &:not(.active):hover {
         border-bottom: 1px solid $primary-color;
      }
   
      @media (max-width: 780px) {
        margin: 0.25rem 0; 
      }
    }
    
  }

  li {
    font-size: 0.9rem;
    color: white;
    margin: 1.5rem;
    list-style: none;
    font-family: 'Inter', sans-serif;
    @media (max-width: 780px) {
      align-self: center;
      width: auto;
      text-align: center;
      margin: 1rem 0; 
    }
    
  .user{
      width: 1.5rem;
      height: 1.5rem;
      padding-top: 0;
  }  

  .active {
    border-bottom: 1px solid white;
  }

  .hover:hover {
    border-bottom: 1px solid $primary-color;
  }
}

}
